<!-- body -->
<div class="container-fluid hero-image">
    <h1 class="text-center hero-logo"><i class="fa fa-rocket fa-5x" aria-hidden="true"></i> </h1>
    <div class="container hero-text">
         <h1 class="text-center">LaunchTools <i class="fa fa-wrench" aria-hidden="true"></i></h1>
        <h3 class="text-center">Free Tools for None-technical Startup Founders.</h3>
        <p class="text-center">"I need a team of IOS Developers" "Photoshop is tough and expensive" "I need $1000 so I can make a website" These problems are not true for early stage startups. If you are a Startup Founder without technical skills, you could launch and test your MVP (minimum viable product) on a shoestring budget by yourself WITHOUT knowing how to code. Launchtools is a curated directory of Free, intuitive, web-based softwares that empower you to launch your business idea!</p>
        <div class="row">
        <div class="col-md-offset-5 col-md-1"><p class="margin-top text-center">Made with love from:</p></div>
        <div class="col-md-1"><%= image_tag ("https://s3.amazonaws.com/launchtoolkit/local/launchpad.jpg"), class: "center-block", width: "100px"%></div>
        
    </div>
    </div>
    
</div>
<br>


<div class="container">
    
    <div class="row">
        <% @tools.each do |tool| %>
        <div class="col-sm-4">
            <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href= "/tools/ <%= tool.id %>">
                            <%= image_tag tool.image.url(:medium), class:"center-block img-thumbnail"%>
                        </a> 
                    </div>
                    <div class="panel-body">
                        <h3 class="text-center">
                            <%= tool.title %>
                        </h3>
                    </div>
                </div>
        </div>
        <% end %>
    </div>
    
</div>

                
                    
                                
                                    
                                
                                
                                    
                    
                    
            