<div class="container-fluid hero-image">
    <div class="container hero-text top-padding">
         <h1 class="text-center">Add a new tool ! <i class="fa fa-plus" aria-hidden="true"></i></h1>
         <h3 class="text-center">(make sure it's free & intuitive)</h3>
    </div>
</div>
<br>
<%= render 'form' %>


