<div class="container-fluid hero-image">
    <div class="container hero-text top-padding">
         <h1 class="text-center">Let's get started <i class="fa fa-folder-open-o" aria-hidden="true"></i></h1>
         <h3 class="text-center">How to use Launchtools</h3>
    </div>
</div>
<br>
<div class="container">
<h3>How does it work?</h3>
<p>If you have a simple Software as a service (Saas), a website or even a mobile app idea I usually go with a workflow that follows Lean Startup Methodology and spend as little cash as possible (hence all the free tools). Below how I utilize all the tools in sequence to effectively launch an idea within a week, then test and iterate the product idea based on users feedback. Creating a simple landing page and email/social media automation might not be the most effective way to launch an MVP, but definitely the cheapest &amp; fastest method that requires the least technical skills </p>
<p>If there are no competitors in the space, I would try to find if there is a demand for your idea. A good place to start would be Google Trends that lets you see the brief quantity of your search terms</p>
<p> After a few weeks of testing and talking to customers (in real life or online, depending on your idea) You should be able to tell if you would like to commit to the idea. If you do, I would find a technical cofounder that could create the product and start investing either your own savings or a F&amp;F rounds (friends &amp; Family rounds). If you haven't already, I'd recommend you getting the book 'Lean Startup' by Eric Ries, the most comprehensive book to date on starting a startup.</p>
<br>
<div id="accordion">
  <h3>Research</h3>
  <div>
    <p>
    This is where you get started when you have a Startup Idea. Look for competitors in the space first, 'AngelList' is a great place to start, it shows you an up to date list of all startups and their respective industries (jobs, employees, funding and news resources). If it's a Saas product on technology leveraging the web, the next step for me is to discover their tech stacks and what they are built with, 'Builtwith technology is a great tool for that'. You can also see the level of traction that they have by searching it up on 'Similarweb'. Similarweb allows you to see how much traffic your competitor's website is getting as well as their target market, traffic sources, referal links etc.  
    </p>
    <p>
    When you are coming up with the name for your Startup, 'namechk' is a great tool to find if your startup name has already been taken. It shows anything from different domain suffixes to available social media accounts.  
    </p>
  </div>
  <h3>Design</h3>
  <div>
    <p>
    You could get started with free designs online. I usually grab a few loyalty free pictures or artwork to start from 'Freepik'. Then you could use these pictures along with 'Canva' to come up with marketing materials. You could also use it to make custom logo designs that you need (you could get started quickly, but I would worry about a great logo later down the line).  
    </p>
    <p>
    When you eventually get around to making a website, I would use free customized icon designs from flaticons. It's also important that you learn about color psychology, picking the right color pallets for your designs.   
    </p>
  </div>
  <h3>Development</h3>
  <div>
    <p>
    Making websites have become a lot easier over the years. If your startup is product-centric or an e-commerce website, I would pick either 'Shopify' or 'Squarespace'. It allows you to get started selling things online easily and cheaply. Squarespace is especially useful if you are very picky about designs and making a beautiful website. However, if the design doesn't really matter too much for you, Wix is the easiest drag-n-drop builder to get started with. For those of you who are content-centric, WordPress is the best free blogging platform with great SEO out of the box. There are also plenty of options for plugins/widgets. If all you need is a simple landing page to collect emails 'Unbounce' is a Saas product that lets you do just that (it's free for 30 days).
    </p>
  </div>
  <h3>Marketing</h3>
  <div>
    <p>
    Once you have a website up and running, the next step would be to start targeting your target market and get your MVP or website out there. Mailchimp is the no.1 tool to start collecting emails. if you have multiple social media accounts, Buffer or Hootsuite is the top 2 platforms I use to control and automate postings/engagements online.
    </p>
  </div>
</div>
</div>